* {
  font-family: Verdana;
  line-height: 26px;
  font-style: normal;
  font-weight: 400;
}

/* navbar */
nav {
  background-color: #012a4a;
  font-family: Verdana;
  font-size: 14px;
}

.navbar-nav li a {
  color: #bcd4e6;

  /* justify-content: space-evenly; */
}

/* OnHover Dropdown */
@media only screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

.dropdown:hover .dropdown-menu {
  background-color: #2c7da0;
  color: #2c7da0;
  border-radius: 8px;
}

.nav-item:hover {
  background-color: #2c7da083;

  border-radius: 8px;
}

/* OnHover Dropdown */
/* navbar */

/* contact us */

.jumbotron {
  position: relative;
  overflow: hidden;
}

.jumbotron .text-white {
  position: relative;
  z-index: 1;
  width: fit-content;
  background: rgba(0, 0, 0, 0.2);
  padding: 2rem;
  padding-right: 7em;
  border: 1px solid rgba(209, 7, 7, 0.411);
  border-radius: 3px;
}

@media only screen and (min-width: 500px) {
  .jumbotron .text-white {
    margin-left: 80px;
  }
}

.text-white p {
  font-size: 14px;
}

.jumbotron-background {
  object-fit: cover;
  font-family: "object-fit: cover;";
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

img.blur {
  -webkit-filter: blur(4px);
  filter: blur(4px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}

.contact-heading {
  font-family: Copperplate;
  font-weight: 700px;
  font-size: 40px;
  color: #353535;
}

.card-img-top {
  display: block;
  margin: auto;
  border-radius: 50px;
  /* padding-top: 20px; */
}

.card-text {
  font-size: 13px;
  font-family: Verdana;
  font-weight: 400;
  line-height: 21px;
}

/* .fas {
    bottom: 14px;
    position:sticky;
} */
.google-maps {
  position: relative;
  padding-bottom: 45%;

  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;

  top: 0;
  left: 0;
  width: 99% !important;
  height: 90% !important;
}

.card {
  border-radius: 50px;
  background: #ffffff;
  box-shadow: -20px 20px 60px #d9d9d9, 20px -20px 60px #ffffff;
}
.card_radius {

    border-radius: 50px;
    background: #ffffff;
    box-shadow: -20px 20px 60px #d9d9d9,
        20px -20px 60px #ffffff;
}

.card-deck {
  margin: auto;
  margin-bottom: 30px;
}

/* contact us */
/* about us > policies */
.about-head {
  font-size: 60px;
  font-family: "Black Han Sans";
  color: #ffff;
  position: static;
}
.main-body {
  margin-bottom: 44px;
}
/* about us > policies */

/* Admissions Page Start*/
.heading-container {
  margin: 30px auto;
}

.heading {
  color: #fff;
  text-shadow: 1px 3px #000;
  background: #2c7da0;
  padding: 2px 10px;
  border-bottom: 5px solid #dfdfdf;
  font-size: 34px;
  border-radius: 30px 5px 30px 5px;
}

/*Breadcrumb Start*/

.breadcrumb-container {
  margin: 0 auto;
}

ul.breadcrumb {
  padding: 10px 0px;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/*Breadcrumb End*/

.container {
  max-width: 1140px;
}

.extra_padding_container {
  padding: 0 30px;
}

.keyfacts {
  background-color: #fff;
  border-left: 18px solid #c62c31;
  box-shadow: 0 3px 12px -2px rgb(0 0 0 / 20%);
  padding-left: 20px;
  font-size: 13px;
}

.ug-courses {
  background-color: #fff;
  border-right: 18px solid #c62c31;
  box-shadow: 0px 3px 12px -2px rgb(0 0 0 / 20%);
  padding: 10px;
  font-size: 13px;
}

.courses {
  padding: 0px 15px;
  line-height: 16px;
}

.courses-list {
  margin-bottom: 0px;
  padding-left: 10px;
}

.h3-left-border {
  font-size: 25px;
  line-height: 36px;
  padding: 5px 10px;
  border-left: 6px solid #c62c31;
  box-shadow: 0px 3px 12px -2px rgb(0 0 0 / 20%);
  margin: 20px 0px;
}

.form-control {
  margin-bottom: 20px;
}

.gender-input {
  margin-bottom: 20px;
}

.form-btn {
  font-weight: bold;
  font-size: 18px;
}

/* Admissions Page End */

/* IQAC */

.iqac-head {
  font-size: 5vw;
  font-family: "Black Han Sans";
  color: #ffff;
  line-height: 6vw;
}
.iqac-para {
  padding-top: 4%;
  font-size: 14px;
}
.iqac-heading {
  line-height: 6vw;
  font-family: Copperplate;
  font-weight: 700px;
  font-size: 5vw;
  color: #353535;
}
@media only screen and (min-width: 768px) {
  .iqac-heading {
    font-size: 50px;
  }
}
.table-cont {
  padding-top: 34px;
}
.table {
  margin-top: 34px;
}
.table-sec {
  padding-top: 34px;
  padding-bottom: 30px;
}
.iqac-points {
  padding-top: 30px;
  font-size: 14px;
}
/* IQAC */

/* Mechanical Engineering */

.state-of-art {
  margin-bottom: 2rem;
}
.mech-img {
  height: 18rem;
  width: 23rem;
  border-radius: 50px !important;
}
.our-faculty-mech {
  max-width: 1140px;
  margin: 0 auto;
}

.mech-faculty-card {
  margin-bottom: 20px;
}

.card-no-shadow {
  box-shadow: none !important;
  border: none !important;
}

/* Mechanical Engineering */

/* footer */

.footer-basic {
  padding: 40px 0;
  background-color: #012a4a;
  color: #bcd4e6;
}

.footer-basic ul {
  padding: 2%;
  list-style: none;
  text-align: center;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

/* footer */
/* coc */
.coc-heading {
  font-size: 27px;
  border-left: 6px solid red;
  padding-left: 11px;
  margin-top: 35px;
}
.coc-table {
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
}
.coc-content {
  padding-left: 11px;
  margin-top: 35px;
  font-size: 15px;
}
/* coc */
/* Admission Page Ends */

/* Home Page CSS Starts */

/*Reset*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/*Defined Tags and classes*/
a {
  text-decoration: none;
  color: black;
}

/*Classes*/

.carousel_images {
  max-height: 500px;
  width: 100%;
}

.content_heading_section {
  box-shadow: 10px 10px 10px #888888;
  border-radius: 10px;
}

.content_section {
  box-shadow: none;
  border-radius: 25px;
}

.title {
  text-align: center;
  justify-content: center;
}

/* Hover Container */

.card_image {
  position: relative;
}

.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1em;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay--primary {
  background: #009578;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

/* End Hover Container */

.card_font {
  color: #ffffff;
}

.image__description {
  margin-bottom: 2em;
}

.info_cards {
  box-shadow: 10px 10px 10px #888888;
  border-radius: 10px;
  min-height: 350px;
}

.ds_buttons {
  border-radius: 10px;
  min-width: 100%;
}

.information_button {
  border-radius: 15px;
}

.inside_card_buttons {
  border-radius: 15px;
}

/*IDs*/
#collection {
  margin-top: 5em;
  max-width: 1140px;
}

#departments {
  margin-top: 10em;
}

#placements_and_activities {
  margin-top: 15em;
}

#extra_curricular {
  margin-top: 15em;
}

#digital_section {
  margin-top: 10em;
  margin-bottom: 15em;
}

#digital_section_heading {
  border-radius: 10px;
}

/* Home Page CSS ENDS */


/*Training-Page Starts*/
.training-tile{
  text-align: justify;
}

.training-logo{
  float:left;
  margin-right: 10px;
}

.training-text{
  margin-right: 10px;
}


.training-research{
  float:right;
  margin-left: 10px;
}

.training-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.training-column{
  padding: 10px 50px 5px;
}
/*Training Page Ends*/

/* adjunct-faculties Starts */

.af-hero-container {
  height: 30vh;
  text-align: center;
}

.af-hero {
  width: 100vw;
  height: 100%;
}

.af-hero-txt {
  color: #fff;
  vertical-align: middle;
  line-height: 30vh;
  font-weight: bold;
}

.adjunct-faculties-container {
  margin-top: 3rem;
}

.af-tab-content {
  margin-top: 2rem;
}

.prof-img img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.prof-name {
  color: #ff0000;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}

.hr-line {
  height: 1px;
  border-top: 1px solid #5472d2;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.prof-detail {
  margin-bottom: 30px;
}

td > a {
  text-decoration: none;
}

.fa.fa-file-pdf-o {
  font-size: xx-large;
  color: #ff0000;
  line-height: 150%;
}

/* adjunct-facuties Ends */

/**Mehul's Css**/



#sep
{
    width: 2px;
}



.mynav a {
    color: lightblue !important;
    border-bottom:  2px solid transparent;
}
.mynav a:hover{
    border-bottom: 2px solid skyblue;
    background: gray;
}

.active a {
    border-bottom: 2px solid white;
}

#Contain{
    align-content: center;
    padding-top: 10px;
}
#TitleRow{
    padding-top: 10px;
    background-color: brown;
    border-radius: 2.5rem 1rem 2.5rem;
}
#RowText{
    color: white;
}
.space{
    padding-top: 20px;
}
#navBar{
    word-spacing: 5px;
    padding-left:20px;
    align-content:space-around;
}
#Heading{
    background-color: white;
    box-shadow: 5f 5f 5f 5f #8888;
    border: 2px solid red;
}
#headingText{
    color:darkblue;
    text-shadow: 2px 2px 2px #8888;
}
#paraRow{
    font-size: 20px;
    font-family: Verdana;
    text-align: justify;
    color:solid darkslategrey;
}
#alignments{
    justify-content: center;
}
#col{
    padding:5px;
    justify-content: center;
    margin-left: 10px;
}
#topSpace{
    padding-top: 10px;
}
#cardImg{
    height:50%;
     width:50%;
     border:2px solid black;
     margin-left: 70px;
}


#noWrap{
    white-space:nowrap;
}
#space1{
    padding-top: 5px;
}
#linkColor{
    color: blue;
}
.bigSpace{
    padding-top:60px;
}
#paraCenter{
    text-align: center;
}

#KeyPeopleImage{
    width: 100%;
}

#accordionButton{
    display:block;
    text-align: center;
}
#wordWrap{
    word-wrap: break-word;
}



/**End of Mehul's Css**/


/* department-main page starts */

.department-section {
  margin-top: 3rem !important;
}

.adj-card {
  min-height: 100% !important;
}

.department-card-end {
  margin-bottom: 5rem;
}

/* department-main page ends */

/* placement */
.placement {
  max-width: 100%;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.placement-head {
  font-size: 35px;
  text-align: center;
  margin-top: 45px;
  border-top:2px solid rgb(189, 189, 189);
  border-bottom:2px solid rgb(189, 189, 189);
  line-height: 48px;
  padding: 30px;
  font-weight: 400px;
  font-family: "Verdana", sans-serif;
}
.placement-header {
  font-size: 35px;
  text-align: center;
  margin-top: 45px;

  padding: 30px;
  font-weight: 400px;
  font-family: "Verdana", sans-serif;
}
.img-cap{
  font-size: 12px;
  font-weight: 300;
  line-height: 26px;
  padding-top: 5px;
  text-align: center;
}
@media screen and (max-width: 627px){
  .placement-head{
    font-size: 6vw;
  }
  .placement-header img{
    width: 90%;
    height: auto;
  }
}
/* placement */


/* Research page start */

i {
  font-style: italic !important;
}

#research-accordion {
  margin-bottom: 23vh;
}

#research-accordion ul {
  font-size: 16px;
}

.list-group-item {
  word-break: break-word;
}

/* Research page end */

/* navbar improvement */

.btn-dropdown  {
  padding: 0.5rem 0.5rem !important;
  border: 0 !important;
  color: rgba(255,255,255,.55) !important;
  font-size: 14px !important;
  line-height: 26px !important;
}

.dropdown-toggle-split {
  color: rgba(255,255,255,.55) !important;
}

.dropdown-toggle-split:focus+.dropdown-toggle-split, .dropdown-toggle-split:focus {
  box-shadow: none !important;
}

.navbar-dropdown-btn:focus+.navbar-dropdown-btn, .navbar-dropdown-btn:focus {
  box-shadow: none !important;
}

@media only screen and (max-width: 992px) {
  .btn-dropdown {
    padding: 0.5rem 0 !important;
  }
}
/*navbar imrovement */
/* department-main page ends */



/* Department CSE starts */

/* Classes */
.accordion_heading_attributes{
  font-size: 0.8em;
  font-family: 'ubuntu';
}

.accordion_content_attributes{
  font-size: 1em;
}

.cse_features_cards{
  background-color: #FFF;
  border-top: 10px solid #2C7DA0/*#C62C31*/;
  box-shadow: 0 3px 12px -2px rgb(0 0 0 / 20%);
  font-size: 13px;
  min-height: 580px;
  width: 100%;
}

.cse_features_cards_heading{
  font-family: 'ubuntu';
  width: 100%;
}

.cse_features_cards_content{
  font-family: georgia, palatino, serif;
  font-size: 12pt;
}

.cse_heading_texts{
  font-family: 'ubuntu', sans-serif;
  font-size: 2.5em;
}

.small_line{
  border-top: 6px solid #2C7DA0;
  border-radius: 25px;
}

.our_courses_card{
  box-shadow: 10px 10px 10px #888888;
  border-radius: 10px;
}

.our_courses_card_padding{
  padding: 20px 20px;
}

.our_courses_inside_content{
  border-left: 6px solid #2C7DA0;
  font-family: 'ubuntu';
  font-size: 3em;
  border-radius: 10px;
}

.our_course_card_font{
  font-family: ubuntu;
  font-size: 2em;
}

.our_faculty_card{
  box-shadow: 10px 10px 10px #888888;
  border-radius: 10px;
  transition: 0.25s;
  min-height: 38.5rem;
  max-height: 25rem;
  overflow:hidden;
}

.our_faculty_card:hover{
  box-shadow: 10px 15px 15px #2C7DA0;
}

.our_faculty_card_padding{
  padding: 20px 20px;
}

.our_faculty_inside_content{
  border-left: 6px solid #2C7DA0;
  font-family: 'ubuntu';
  font-size: 3em;
  border-radius: 10px;
  text-align: center;
  min-height: 170px;
}

.our_faculty_card_font{
  font-family: ubuntu;
  font-size: 2em;
}

.our_faculty_card_image{
  border-radius:10px;
  height: 18rem;
  /* min-height: 290px; */
}

/* IDs */
#features{
  margin-top: 5em;
}

#courses{
  margin-top: 5em;
}

#courses_content{
  margin-top: 3em;
}

#cse_faculty{
  margin-top: 5em;

}

#cse_faculty_content{
  margin-top: 3em;
}

/* Department CSE Ends */

/* Department EE Starts */
.EE-head{
  background-color: white !important;
  font-size: 21px;
  padding-top: 4% !important;
}
.EE-course{
  width: auto;
}
.EE-img{
  border-radius: 0;
}
.our-faculty-EE{
  max-width: fit-content;
 padding-bottom: 7%;
 padding-top: 3%;
}
/* Department EE Ends */


/* Department ECE Starts */

/* Classes */
.ece_overview_side_image{
  width: 15rem;
  height: 8rem;
  float: right;
}

.ece_overview_image_card{
  width: 15rem;
  height: 8rem;
  float: right;
  box-shadow: 0px 0px 10px #2C7DA0;
  margin-bottom: 1em;
  margin-left: 0.3em;
}

.ece_overview_article_font{
  font-family: 'ubuntu';
  font-size: 1.16em;
}

.ece_feature_cards{
  min-height: 700px;
}

/* IDs */
#ece_overview{
  margin-top: 3em;
}

#ece_faculty{
  margin-top: 5em;
}

/* Applied Science And Humanities */

/* Classes */

/* IDs */
#applied_science_faculty{
  margin-top: 5em;
}
/* Applied Science ANd Humanities End */
